# Secrets
.env*

# Dependencies
node_modules

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Python
.venv/
venv/
__pycache__/
.pytest_cache/

# Logs
*.log

# Env files
.env.local
.env.*.local